<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Fabacus Test - Declan Wright</title>

    <!-- Bootstrap core CSS -->
    <link href="/TestDashboard/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/TestDashboard/css/myStyles.css" rel="stylesheet">
  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Test Dashboard</a>
          </div>
          <div style="clear:both;"></div>
          <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-one-fine-empty-dot">
                            </span>Styles</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-one-fine-empty-dot"></span><a >Costing Sheets</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-one-fine-empty-dot"></span><a >Styles Progress</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-one-fine-empty-dot"></span><a >Styles Critical Path</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-one-fine-empty-dot"></span><a >Comment Sent Log</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-one-fine-empty-dot">
                            </span>Modules</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a >Module Option 1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a >Module Option 2</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a >Module Option 3</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a >Module Option 4</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-one-fine-empty-dot">
                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a >Account Option 1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a >Account Option 2</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a >Account Option 3</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a>Account Option 4</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-one-fine-empty-dot">
                            </span>Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a >Reports Option 1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a >Reports Option 2</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a >Reports Option 3</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a >Reports Option 4</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <nav class="navbar navbar-inverse topnavbar">
            <div class="container-fluid">
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Logout</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="tabbedarea" data-ng-app="tabsapp" data-ng-controller="tabsCtrl">


            <ul class="nav nav-tabs">
              <li data-ng-class="{ active: activetab == 'design' }"><a data-ng-click="switchtab('design')">DESIGN</a></li>
              <li data-ng-class="{ active: activetab == 'gallery' }"><a data-ng-click="switchtab('gallery')">GALLERY</a></li>
              <li data-ng-class="{ active: activetab == 'costings' }"><a data-ng-click="switchtab('costings')">COSTINGS</a></li>
              <li data-ng-class="{ active: activetab == 'patterncutter' }"><a data-ng-click="switchtab('patterncutter')">PATTERN CUTTER</a></li>
              <li data-ng-class="{ active: activetab == 'cutter' }"><a data-ng-click="switchtab('cutter')">CUTTER</a></li>
              <li data-ng-class="{ active: activetab == 'notes' }"><a data-ng-click="switchtab('notes')">NOTES</a></li>
              <li data-ng-class="{ active: activetab == 'logs' }"><a data-ng-click="switchtab('logs')">LOGS</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="design" data-ng-if="activetab == 'design'" data-ng-class="{ active: activetab == 'design' }">
                <div class="productimage">
                  <img width="100" src="/TestDashboard/images/fabacusmissingimage.jpg" alt="missing image"/>
                </div>
                <div class="styleinfo">
                  <div class="stylenotitle">Style no</div>
                  <div class="styleno">2349</div>
                  <div class="proddescription">{{description}}</div>
                </div>
                <div class="productinfo">
                  <div class="infoelement">
                    <span class="attrname">Fabric</span>
                    <span class="attrvalue">3.000</span>
                  </div>
                  <div class="infoelement">
                    <span class="attrname">Trim</span>
                    <span class="attrvalue">2.231</span>
                  </div>
                  <div class="infoelement">
                    <span class="attrname">Total</span>
                    <span class="attrvalue totalvalue">5.0231</span>
                  </div>
                </div>
                <div class="optionstablewrapper">
                  <h1 class="detailsheader">Design Details</h1>
                  <div class="tableoptions">
                    <div class="stylesetting">
                      <span class="infolabel">Style number</span><br>
                      <input class="styletext" type="text" name="syleprefix" placeholder="prefix" data-ng-model="styleprefix"/>
                      <span class="separator"> - </span>
                      <input class="styletext" type="text" name="stylecode" value="2349" data-ng-model="stylecode"/>
                      <span class="separator"> - </span>
                      <input class="styletext" type="text" name="stylesuffix" placeholder="suffix" data-ng-model="stylesuffix"/>
                      <span>[{{styleprefix}} {{stylecode}} {{stylesuffix}}]</span>
                    </div>
                    <div class="optionsrowone tablerow">
                      <div class="optionwrapper">
                        <span class="infolabel">Item type</span><br>
                        <input type="text" value="Garment" name="garmenttype" data-ng-model="garmentype" />
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">Description</span><br>
                        <input type="text" value="" name="proddescription" data-ng-model="description" />
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">Colour</span><br>
                        <input type="text" value="" name="prodcolour" data-ng-model="colour" />
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">Trend</span><br>
                        <select>
                          <option value="notrend"></option>
                          <option value="trend1">Trend 1</option>
                          <option value="trend2">Trend 2</option>
                          <option value="trend3">Trend 3</option>
                        </select>
                      </div>
                    </div>
                    <div class="optionsrowtwo tablerow">
                      <div class="optionwrapper">
                        <span class="infolabel">Season</span><br>
                        <select>
                          <option value="noseason"></option>
                          <option value="season1">Season 1</option>
                          <option value="season2">Season 2</option>
                          <option value="season3">Season 3</option>
                        </select>
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">Woven/Knitted</span><br>
                        <select>
                          <option value="neither"></option>
                          <option value="Woven">Woven</option>
                          <option value="Knitted">Knitted</option>
                        </select>
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">Garment Type</span><br>
                        <select>
                          <option value="notype"></option>
                          <option value="garmenttype1">Garment Type 1</option>
                          <option value="garmenttype2">Garment Type 2</option>
                          <option value="garmenttype3">Garment Type 3</option>
                        </select>
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">Garment Size - Garement</span><br>
                        <input type="text" name="garmentsize" value="Garment" data-ng-model="garementsize" />
                      </div>
                    </div>
                    <div class="optionsrowthree tablerow">
                      <div class="optionwrapper">
                        <span class="infolabel">Original Sample</span><br>
                        <select>
                          <option value="nosample"></option>
                          <option value="sample1">Sample 1</option>
                          <option value="sample2">Sample 2</option>
                          <option value="sample3">Sample 3</option>
                        </select>
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">Designer</span><br>
                        <input type="text" value="" name="proddesigner" data-ng-model="designer" />
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">No of Pieces</span><br>
                        <input type="text" value="" name="noofpieces" data-ng-model="noofpieces" />
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">Block Number</span><br>
                        <input type="text" value="" name="prodblocknumber" data-ng-model="blocknumber" />
                      </div>
                    </div>
                    <div class="optionsrowfour tablerow">
                      <div class="optionwrapper">
                        <span class="infolabel">Machinist</span><br>
                        <input type="text" value="" name="machinist" data-ng-model="machinist" />
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">Workflow</span><br>
                        <input type="text" value="" name="workflow" data-ng-model="workflow" />
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">Costing Sent</span><br>
                        <input type="text" value="" name="costingsent" placeholder="no date set" data-ng-model="costingsent" />
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">Sealing Process</span><br>
                        <select>
                          <option value="noprocess"></option>
                          <option value="sealingprocess1">Sealing Process 1</option>
                          <option value="sealingprocess2">Sealing Process 2</option>
                          <option value="sealingprocess3">Sealing Process 3</option>
                        </select>
                      </div>
                    </div>
                    <div class="optionsrowfive tablerow">
                      <div class="optionwrapper">
                        <span class="infolabel">Date Created</span><br>
                        <input type="text" value="" placeholder="no date set" name="datecreated" data-ng-model="datecreated" />
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">Sales Person</span><br>
                        <input type="text" value="" name="salesperson" data-ng-model="salesperson" />
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">Client</span><br>
                        <select>
                          <option value="noclient"></option>
                          <option value="client1">Client 1</option>
                          <option value="client2">Client 2</option>
                          <option value="client3">Client 3</option>
                        </select>
                      </div>
                      <div class="optionwrapper">
                        <span class="infolabel">Department</span><br>
                        <select>
                          <option value="nodepartment"></option>
                          <option value="department1">Department 1</option>
                          <option value="department2">Department 2</option>
                          <option value="department3">Department 3</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
      				</div>
              <div class="tab-pane" id="gallery" data-ng-if="activetab == 'gallery'" data-ng-class="{ active: activetab == 'gallery' }">
                <div class="productimage">
                  <img width="100" src="/TestDashboard/images/fabacusmissingimage.jpg" alt="missing image"/>
                  <p>No image available currently.</p>
                </div>
      				</div>
              <div class="tab-pane" id="costings" data-ng-if="activetab == 'costings'" data-ng-class="{ active: activetab == 'costings' }">
                <p>The costing data will be inserted here.</p>
      				</div>
              <div class="tab-pane" id="patterncutter" data-ng-if="activetab == 'patterncutter'" data-ng-class="{ active: activetab == 'patterncutter' }">
                <p>The pattern cutter data will be inserted here.</p>
      				</div>
              <div class="tab-pane" id="cutter" data-ng-if="activetab == 'cutter'" data-ng-class="{ active: activetab == 'cutter' }">
                <p>The cutter data will be inserted here.</p>
      				</div>
              <div class="tab-pane" id="notes" data-ng-if="activetab == 'notes'" data-ng-class="{ active: activetab == 'notes' }">
                <p>This page will contain notes about the product.</p>
      				</div>
              <div class="tab-pane" id="logs" data-ng-if="activetab == 'logs'" data-ng-class="{ active: activetab == 'logs' }">
                <p>The logs for this product wil be loaded here.</p>
      				</div>
            </div>
        </div>
        </div>
      </div>
    </div>
    <script src="/TestDashboard/js/jquery-1.9.1.min.js"></script>
    <script src="/TestDashboard/bootstrap/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="/TestDashboard/js/apps.js"></script>
    <script src="/TestDashboard/js/controllers.js"></script>
  </body>
</html>
