body {
  background-image: linear-gradient(45deg, #cccccc 25%, #dbdbdb 25%, #dbdbdb 50%, #cccccc 50%, #cccccc 75%, #dbdbdb 75%, #dbdbdb 100%);
  background-size: 28.28px 28.28px;
}

main {
  margin-top: 65px;
}

.blogTitle {
  text-align: center;
}

.boxShadow {
  box-shadow: 5px 5px #000000;
  border-radius: 5px;
}

.tweetTitle {
  text-align: center;
}

.tweet {
  width: 75%;
  margin: 0 auto;
  background-color: #00cccc;
  padding: 5px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.tweet img {
  max-width: 100%;
  margin-top: 5px;
}

.tweet p {
  margin: 0;
  text-align: center;
}

.work {
  background-color: #FFFFFF;
  padding: 5px;
  margin-bottom: 10px;
}

.blogPost {
  background-color: #FFFFFF;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.workTitle {
  text-align: center;
}

.movieResult {
  margin-bottom: 10px;
  background-color: #FFFFFF;
}

.movieResult img {
  max-height: 210px;
  margin: 5px;
}

.movieSearchIntro {
  text-align: center;
}

#movieForm {
  margin: 0 auto;
  width: 34%;
}

#wineStoreTitle {
  text-align: center;
}

.selectionOption {
  cursor: pointer;
}

.returnOption {
  text-align: center;
}

#colourList li {
  width: 33%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

#regionList li {
  width: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

#colourSelect, #regionSelect, #allSelect {
  clear: both;
  margin-bottom: 10px;
  min-height: 70px;
  text-align: center;
  border: 2px solid #000000;
}

#wineStoreContainer {
  background: #FFFFFF;
}

#basketWrapper {
  color: #FFFFFF;
}

#basketAddQty {
  width: 50px;
}

.regionCaption {
  text-align: center;
}

#regionList li {
  min-height: 191px;
}

#regionSelect img {
  width: 95%;
}

#colourList img {
  width: 33%;
}

#pageHeader {
  padding-bottom: 10px;
}

#wineResults i {
  cursor: pointer;
}

.centerText {
  text-align: center;
}

.cardImage {
  width: 17%;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

#BlackjackWrapper h1, .options, #lastFmProfileTitle {
  text-align: center;
}

#BlackjackWrapper #gamearea {
  background: #FFFFFF;
}

.recentTrackWrapper, .topAlbumWrapper, .topTrackWrapper, .topArtistWrapper {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

#LastFmReultsWrapper {
  padding: 5px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) { 
    .dealerarea {
      float: none;
      width: auto;
    }
    
    .playerarea {
      float: none;
      width: auto;
    }
}