body{
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #ccc), color-stop(0.25, #ccc), color-stop(0.25, #bbb), color-stop(0.5, #bbb), color-stop(0.5, #ccc), color-stop(0.75, #ccc), color-stop(0.75, #bbb));
    background-image: -webkit-linear-gradient(left bottom, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
    background-image: -moz-linear-gradient(left bottom, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
    background-image: -ms-linear-gradient(left bottom, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
    background-image: -o-linear-gradient(left bottom, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
    background-image: linear-gradient(left bottom, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
    background-size: 30px 30px;
    height:100%;
}

div.content-wrapper {
    margin: 70px auto;
    width: 70%;
}

table#sudoku td	{
    width: 2.5em; height:2.5em; border-width: 1px; border-style: solid;
    border-color: black; font-weight: bold; text-align: center;
}

table#sudoku {
    border-width: 3px; border-style: solid; border-color: black;
}
table#sudoku td[id^=cell_2] {
    border-right-width: 2px;
}

table#sudoku td[id^=cell_5] {
    border-right-width: 2px;
}

table#sudoku td[id$=_2] {
    border-bottom-width: 2px;
}

table#sudoku td[id$=_5] {
    border-bottom-width: 2px;
}

td.selected {
    background-color: rgb(100%, 70%, 0%);
}

pre {
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    color: #333333;
    display: block;
    font-size: 13px;
    line-height: 1.42857;
    margin: 0 0 10px;
    padding: 9.5px;
    word-break: break-all;
    word-wrap: break-word;
}

#hSocial{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-top: 35px;
}

.example-header {
    margin: 10px auto;
    width: 30%;
}

.tweet{
    margin-top: 15px;
    padding: 5px;
    color: #000000;
    background-color: #00cccc;
    width: 96%;
    box-shadow: 5px 5px #000000;
}

.tweet img {
  margin-left: 15%;
}

.tweet a {
    color: #000000;
}

.lastFMTrack{
    background-color: #FFFFFF;
    padding: 5px;
    margin: 10px;
    clear: both;
    min-height: 150px;
}

.lastFMTrack img {
  height: 135px;
  width: auto;
}

#trackPic{
    float: left; margin-right: 5px;
}

#trackPic.top_artist {
    float: none;
}

.lastFMHeader{
    background-color: #FF0000;
}
.lastFMHeader h2{
    color: #FFFFFF; text-align: center;
}

#userInfo p {
    margin-left: 131px;
}

table#sudoku td	{
    width: 2.5em; height:2.5em; border-width: 1px; border-style: solid;
    border-color: black; font-weight: bold; text-align: center;
}
table#sudoku {
    border-width: 3px; border-style: solid; border-color: black;
}
table#sudoku td[id^=cell_2] {
    border-right-width: 2px;
}
table#sudoku td[id^=cell_5] {
    border-right-width: 2px;
}
table#sudoku td[id$=_2] {
    border-bottom-width: 2px;
}
table#sudoku td[id$=_5] {
    border-bottom-width: 2px;
}
td.selected {
    background-color: rgb(100%, 70%, 0%);
}
td.tofill {
    color: blue;
}

.blog-post, .work {
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.moviePoster {
  float: left;
}

.movieItem {
  clear: both;
  background: #FFFFFF;
  margin-bottom: 10px;
  min-height: 175px;
}

.moviePoster {
  margin-right: 5px;
}

.moviePoster img {
  height: 170px;
}

.work h3 {
  margin-top: 2px;
}
