<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">

    <title>The MovieDB Search</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/myStyles.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="./">Declan Wright</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../examples.html">Examples</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../about.html">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="container-fluid">
        <div id="movieSearchWrapper" class="container-fluid" data-ng-app="movieSearch" data-ng-controller="movieSearchController">
          <h2 class="movieSearchIntro">The MovieDB Search</h2>
          <p class="movieSearchIntro">Please enter a movie title below and press submit to search our database:</p>
          <div id="movieForm" class="mb-2">    
            <form class="form-inline mr-auto">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input name="query" data-ng-model="query" type="text" placeholder="Search" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary btn-rounded btn-sm my-0" type="submit" data-ng-click="submitMovieSearch($event);">Search</button>
            </form>
          </div>
          <div data-ng-include="templateURL"></div>
        </div>
      </div>

    </main><!-- /.container -->

    <script src="../js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/531dfb0810.js" crossorigin="anonymous"></script>
    <script src="../js/angular.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controller.js" type="text/javascript"></script>
  </body>
</html>
