<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">

    <title>Shalom Wines</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/myStyles.css" rel="stylesheet">
  </head>

  <body data-ng-app="myWineStore" data-ng-controller="myWineStoreController">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="./">Shalom WInes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Red</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Wine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rose</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="container-fluid">
        <h1 id="wineStoreTitle">Shalom Wines</h1>
        <div id="pageHeader">
          <p>Welcome to Shalom Wines, your local wine store. We stock wines from different regions of the world ready for you order at competitive prices.</p>
          <p>To get started choose from one of the colour options below:</p>
          <ul id="colourList">
            <li class="colourOption selectionOption" data-ng-click="showColourWines('Red');">Red</li>
            <li class="colourOption selectionOption" data-ng-click="showColourWines('White');">White</li>
            <li class="colourOption selectionOption" data-ng-click="showColourWines('Rose');">Rose</li>
          </ul>
          <p>If you don't want to shop by colour maybe you would liek to shop by region:</p>
          <ul>
            <li data-ng-repeat="x in regions">
              <span class="selectionOption" data-ng-click="showRegionWines(x.Name);">{{x.Name}}</span>
            </li>
          </ul>
          <p>If you just want to browse then you can use the link below to see our full collection:</p>
          <ul id="allWineList">
            <li class="allWineOption selectionOption" data-ng-click="showAllWines($event);">All Wines</li>
          </ul>
        </div>
        <div class="row wineResults" data-ng-include="winesDisplayTemplateURL"></div>
      </div>

    </main><!-- /.container -->

    <script src="../js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../js/angular.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controller.js" type="text/javascript"></script>
  </body>
</html>
