<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/portfolio/usermanager/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/portfolio/usermanager/bootstrap/css/userstyles.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">User Manager</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  <div class="mainpagewrapper container" data-ng-app="userdisplay" data-ng-controller="userdisplayctrl">
    <div class="innerpagewrapper">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#userlist">User List</a></li>
        <li><a data-toggle="tab" href="#adduser">Add User</a></li>
        <li><a data-toggle="tab" href="#finduser">Find User</a></li>
      </ul>

      <div class="tab-content">
        <div id="userlist" class="tab-pane fade in active">
          <div class="userlistdisplay">
            <table class="usertable table table-striped">
              <tbody>
                <tr class="tableheaders">
                  <th class="usertitle">Title</th>
                  <th class="userfirstName">First Name</th>
                  <th class="userlastName">Last Name</th>
                  <th class="userdateOfBirth">Date of Birth</th>
                  <th class="usergender">Gender</th>
                  <th class="userName">Username</th>
                  <th class="deleteButton"></th>
                </tr>
                <tr data-user-index="$index" class="userrow" data-ng-repeat="x in userresults track by $index" data-ng-if="x.userName">
                  <td>{{x.title}}</td>
                  <td>{{x.firstName}}</td>
                  <td>{{x.lastName}}</td>
                  <td>{{x.dateOfBirth | date :  "dd/MM/yyyy"}}</td>
                  <td>{{x.gender}}</td>
                  <td>{{x.userName}}</td>
                  <td><button class="deleteUser" data-ng-click="deleteUser($index)">Delete</button><button class="updateUser" data-ng-click="updateUser($index)">Update</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="updateuserarea">
            <form class="updatesubmit">
              <div class="formOption">
                <span>Title: </span>
                <select class="titleselect" name="title">
                  <option value="{{olduser.title}}">{{olduser.title}}</option>
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Miss">Miss</option>
                  <option value"Dr">Dr</option>
                </select>
              </div>
              <div class="formOption">
                <span>First name: </span><input type="text" name="firstName" value="{{olduser.firstName}}"/>
              </div>
              <div class="formOption">
                <span>Middle initial: </span><input type="text" name="middleIntial" size="1" value="{{olduser.middleInital}}"/>
              </div>
              <div class="formOption">
                <span>Last name: </span><input type="text" name="lastName" value="{{olduser.lastName}}"/>
              </div>
              <div class="formOption">
                <span>User name: </span><input type="text" name="userName" value="{{olduser.userName}}"/>
              </div>
              <div class="formOption">
                <span>Date of Birth: </span><input type="text" name="dateOfBirth" placeholder="yyyy-MM-dd" value="{{olduser.dateOfBirth}}"/>
              </div>
              <input type="hidden" name="gender" value="{{olduser.gender}}"/>
              <input type="submit" name="usersubmit" value="Submit Details"/>
            </form>
          </div>
        </div>
        <div id="adduser" class="tab-pane fade">
          <form class="detailsubmit">
            <div class="formOption">
              <span>Title: </span>
              <select class="titleselect" name="title">
                <option value=""></option>
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Miss">Miss</option>
                <option value"Dr">Dr</option>
              </select>
            </div>
            <div class="formOption">
              <span>First name: </span><input type="text" name="firstName" value=""/>
            </div>
            <div class="formOption">
              <span>Middle initial: </span><input type="text" name="middleIntial" size="1" value=""/>
            </div>
            <div class="formOption">
              <span>Last name: </span><input type="text" name="lastName" value=""/>
            </div>
            <div class="formOption">
              <span>User name: </span><input type="text" name="userName" value=""/>
            </div>
            <div class="formOption">
              <span>Date of Birth: </span><input type="text" name="dateOfBirth" placeholder="yyyy-MM-dd" value=""/>
            </div>
            <input type="hidden" name="gender"/>
            <input type="submit" name="usersubmit" value="Submit Details"/>
          </form>
        </div>
        <div id="finduser" class="tab-pane fade">
          <div class="searchContextSelection">
            <form class="findUserForm">
              <span>Search for user by: </span>
              <select name="searchContext" class="searchContextSelect">
                <option value=""></option>
                <option value="name">Full name</option>
                <option value="userName">User Name</option>
              </select>
              <div class="searchFormOption name">
                <span>First name: </span><input type="text" name="firstName" value=""/>
              </div>
              <div class="searchFormOption name">
                <span>Last name: </span><input type="text" name="lastName" value=""/>
              </div>
              <div class="searchFormOption username">
                <span>User name: </span><input type="text" name="userName" value=""/>
              </div>
              <input type="submit" name="searchsubmit" value="Submit Search"/>
            </form>
            <div data-ng-include="templateUrl"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pageOverlay"></div>
  <div class="errorMessageWrapper"><span class="errorMessageDisplay">No errors detected</span><button class="errorclosebutton">Close</button></div>
  <div class="successMessageWrapper"><span class="successMessageDisplay"></span><button class="successclosebutton">Close</button></div>
<script type="text/javascript" src="/portfolio/usermanager/jquery-1.9.1.min.js"></script>
<script src="/portfolio/usermanager/bootstrap/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script type="text/javascript" src="/portfolio/usermanager/js/userapp.js"></script>
<script type="text/javascript" src="/portfolio/usermanager/js/usercontrollers.js"></script>
<script type="text/javascript" src="/portfolio/usermanager/js/usermanager.js"></script>
</body>
</html>
